@{
    ViewData["Title"] = "Reservas";
}
@model List<Novo.Models.Domain.Ambiente>

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>Descricao</h3>
            </th>
            <th>
                <h3>Status</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ambiente in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => ambiente.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => ambiente.Status)
                </td>
                <td>
                    @foreach (var acento in ambiente.Items)
                    {
                        @Html.DisplayFor(model => acento.Descricao)
                    }
                </td>
                <td>
                    @Html.ActionLink("Reservar", "Reservar", new { id = ambiente.IdAmbiente })
                </td>
            </tr>
        }
    </tbody>
</table>

