@using Novo.Models.ReservaModels

@{
    ViewData["Title"] = "Reservas";
}
@model ListarItemsViewModel

@using (Html.BeginForm()){
    <fieldset>
        <div class="editor-label">
            @Html.DropDownListFor(model => model.Ambientes, null, "Selecione um ambiente", new { @class = "form-control", @value = "0" })
        </div>
    </fieldset>
}

