@*@using Novo.Models.Domain
@using Novo.Models.ReservaModels

@{
    ViewData["Title"] = "Reservas";
}
@model List<ListarItemsViewModel>

table class="table">
<thead>
    <tr>
        <th>
            <h3>Descricao</h3>
        </th>
        <th>
            <h3>Status</h3>
        </th>
    </tr>
</thead>
<tbody>
    @foreach (var ambiente in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => ambiente.)
            </td>
        </tr>
    }
</tbody>
</table>
<h2>@TempData["Message"]</h2>

*@