escolha oque quer reservar

<a class="nav-link text-dark" asp-area="" asp-controller="Reserva" asp-action="ListarAmbientes"><button>Ambientes</button></a>
<a class="nav-link text-dark" asp-area="" asp-controller="Reserva" asp-action="ListarItems"><button>Items</button></a>