
<p>Insira seus dados abaixo para fazer login</a>.</p>
<form method="post" asp-area="" asp-controller="Home" asp-action="Index">
    <h3>E-mail</h3>
    <input type="text" name="Login" placeholder="Digite seu e-mail" />
    <h3>Senha</h3>
    <input type="password" name="Senha" placeholder="Digite sua senha" />
    <br />
    <br />
    <input type="submit" name="enviar" value="Enviar">
</form>