@ViewBag.usuario
<div>
    @if (@ViewBag.autenticado == true)
    {
        <form method="post" asp-controller="Login" asp-action="Logout">
            <input class="btn btn-link" type="submit" value="Logout" />
        </form>
    }
</div>